<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.5" sku=".NETFramework,Version=v4.5"/>
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- We are placing ADAL into the current directory. However, due to how the components are being built there are sometimes differences
           with what version is deployed in this directory and what the the visual studio services client is built against. So we need to redirect to the one that is deployed -->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="2.0.0.0-2.16.0.0" newVersion="2.16.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
				<bindingRedirect oldVersion="2.0.0.0-2.16.0.0" newVersion="2.16.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
